# Virtual environments
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Data folders

# Scripts outputs
*.sqlite3

# Ignore secrets file
.env

# Notebook checkpoints
.ipynb_checkpoints/
